<!DOCTYPE html>
<html>
<body>

<h2>picture</h2>
<%= @pic1%>
<img src="http://shinishikawa.com/wp-content/uploads/2015/08/KAE1913.jpg" alt="selected_pic" style="width:304px;">

<img src="http://shinishikawa.com/wp-content/uploads/2015/08/KAE1913.jpg" alt="selected_pic" style="width:304px;">



</body>
</html>