<!DOCTYPE html>
<html>

<body>
<h1 class="animated infinite bounce">Example</h1>
<h2>Welcome to our website!</h2>
<%=@comparison.id%>
<form action="/pictures" method="GET">
<input type="hidden" name="id" value="<%=@comparison.id%>">
<button type="submit">Start</button>
</form>
</body>
</html>
