<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hello!</h1>
    <p>
      Thanks for picking your favorite photo! Here is a link to the photo you chose as your favorite:
      
    </p>
  

  </body>
</html>